In [18]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (0.2.14)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (2.3.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (1.5.3)
Requirement already satisfied: lxml>=4.9.1 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (1.23.5)
Requirement already satisfied: pytz>=2022.5 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from yfinance) (39.0.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: pycparser in c:\users\saimahendrareddyatlu\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import yfinance as yf
import pandas as pd
import numpy as np
from functools import reduce

In [32]:
date_range = pd.date_range(start='2015-1-1', end='2022-12-31', freq='D')
df1 = pd.DataFrame({'Date': date_range,'traded_date':date_range})

In [33]:
stock_names=["SBIN.NS","DRREDDY.NS","GSPL.NS","JSWSTEEL.NS","JSWENERGY.BO",
              "RELIANCE.NS","YESBANK.NS","TATAMOTORS.NS","LAURUSLABS.NS","NTPC.NS","SAIL.BO"]
data = yf.download("BHARTIARTL.NS", start="2015-01-01", end="2021-12-31")
df = pd.DataFrame(data)
df=df.drop(["High","Low","Adj Close","Volume"],axis=1)
df_main=pd.DataFrame()
df_main=df
for i in stock_names:
    data = yf.download(i, start="2015-01-01", end="2021-12-31")
    df = pd.DataFrame(data)
    df=df.drop(["High","Low","Adj Close","Volume"],axis=1)
    df_main=pd.merge(df_main,df,on="Date",how="outer")
df_main['Open_x'] = df_main['Open_x'].fillna(0)
df_main['Close_x'] = df_main['Close_x'].fillna(0)
df_main['Open_y'] = df_main['Open_y'].fillna(0)
df_main['Close_y'] = df_main['Close_y'].fillna(0)
df_main=pd.merge(df_main,df1,on="Date",how="outer")
df_main=df_main.drop(["Date"],axis=1)
df_main.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

C:\Users\SaiMahendraReddyAtlu\AppData\Local\Temp\ipykernel_31832\1015243886.py:12: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Close_x', 'Open_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_main=pd.merge(df_main,df,on="Date",how="outer")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

C:\Users\SaiMahendraReddyAtlu\AppData\Local\Temp\ipykernel_31832\1015243886.py:12: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Close_x', 'Open_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_main=pd.merge(df_main,df,on="Date",how="outer")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

C:\Users\SaiMahendraReddyAtlu\AppData\Local\Temp\ipykernel_31832\1015243886.py:12: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Close_x', 'Open_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_main=pd.merge(df_main,df,on="Date",how="outer")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

C:\Users\SaiMahendraReddyAtlu\AppData\Local\Temp\ipykernel_31832\1015243886.py:12: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Close_x', 'Open_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_main=pd.merge(df_main,df,on="Date",how="outer")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

C:\Users\SaiMahendraReddyAtlu\AppData\Local\Temp\ipykernel_31832\1015243886.py:12: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Close_x', 'Open_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_main=pd.merge(df_main,df,on="Date",how="outer")

,Open_x,Close_x,Open_y,Close_y,Open_x,Close_x,Open_y,Close_y,Open_x,Close_x,...,Close_y,Open_x,Close_x,Open_y,Close_y,Open_x,Close_x,Open_y,Close_y,traded_date
0,325.402405,333.206940,312.450012,314.000000,3230.000000,3210.500000,114.449997,113.599998,104.889999,106.589996,...,154.509995,489.252289,493.160370,0.0,0.0,120.166664,118.708336,82.650002,82.650002,2015-01-01
1,334.033295,335.181000,314.350006,315.250000,3220.000000,3221.399902,113.300003,113.199997,107.010002,106.915001,...,158.440002,491.973083,506.368683,0.0,0.0,118.750000,120.333336,82.949997,82.800003,2015-01-02
2,336.282837,327.743774,316.250000,312.750000,3221.399902,3148.399902,112.699997,122.750000,106.915001,106.660004,...,158.779999,504.686737,518.241333,0.0,0.0,120.458336,120.000000,82.800003,82.599998,2015-01-05
3,326.963318,325.172882,310.000000,299.899994,3130.000000,3065.550049,123.000000,126.900002,105.410004,102.769997,...,154.330002,508.891632,496.079071,0.0,0.0,119.583336,116.000000,82.099998,78.550003,2015-01-06
4,323.152863,325.953308,300.000000,300.149994,3075.100098,3039.199951,129.000000,124.500000,101.599998,101.184998,...,151.470001,489.746979,488.609192,0.0,0.0,117.083336,118.791664,78.599998,78.000000,2015-01-07

In [39]:
print(df_main.columns)
dic={
        'Date':[],'Name':[],
        'Transaction':[],'Event':[],'Units':[]
       }
df_result=pd.DataFrame(dic)
stock_name=["BHARTIARTL.NS","SBIN.NS","DRREDDY.NS","GSPL.NS","JSWSTEEL.NS","JSWENERGY.BO",
              "RELIANCE.NS","YESBANK.NS","TATAMOTORS.NS","LAURUSLABS.NS","NTPC.NS","SAIL.BO"]

Index(['Open_x', 'Close_x', 'Open_y', 'Close_y', 'Open_x', 'Close_x', 'Open_y',
       'Close_y', 'Open_x', 'Close_x', 'Open_y', 'Close_y', 'Open_x',
       'Close_x', 'Open_y', 'Close_y', 'Open_x', 'Close_x', 'Open_y',
       'Close_y', 'Open_x', 'Close_x', 'Open_y', 'Close_y', 'traded_date'],
      dtype='object')

In [40]:
amount=100000
for i in range(1,len(df_main)):
    b_Date=df_main.loc[i-1,'traded_date']
    t_Date=df_main.loc[i,'traded_date']
    profit1=[]
    for j in range(0,24,2):
        cp=df_main.iloc[i-1,j+1]
        sp=df_main.iloc[i,j]
        if cp<1 or sp<1:
            continue
        shares=amount//cp
        selling_price=(shares*sp) + (amount%cp) -(0.05*shares*sp)
        if selling_price > amount:
            profit1.append([selling_price,stock_name[j//2],shares])
    profit1=sorted(profit1,reverse=True)
    if len(profit1)!=0:
        df_result.loc[len(df_result.index)] =[b_Date,profit1[0][1],"Close","Buy",profit1[0][2]]
        df_result.loc[len(df_result.index)] =[t_Date,profit1[0][1],"Open","Sell",profit1[0][2]]
        amount=profit1[0][0]
        

    profit2=[]
    for j in range(0,24,2):
        cp=df_main.iloc[i,j]
        sp=df_main.iloc[i,j+1]
        if cp<1 or sp<1:
            continue
        shares=amount//cp
        selling_price=(shares*sp) + (amount%cp) -(0.05*shares*sp)
        if selling_price > amount:
            profit2.append([selling_price,stock_name[j//2],shares])
    profit2=sorted(profit2,reverse=True)
    if len(profit2)!=0:
        df_result.loc[len(df_result.index)] =[t_Date,profit2[0][1],"Open","Buy",profit2[0][2]]
        df_result.loc[len(df_result.index)] =[t_Date,profit2[0][1],"Close","Sell",profit2[0][2]]
        amount=profit2[0][0]
print(amount)

351391510.5643487

In [41]:
print(df_result)

          Date           Name Transaction Event      Units
0   2015-01-05        GSPL.NS        Open   Buy      887.0
1   2015-01-05        GSPL.NS       Close  Sell      887.0
2   2015-02-13        SBIN.NS        Open   Buy      359.0
3   2015-02-13        SBIN.NS       Close  Sell      359.0
4   2015-02-19    JSWSTEEL.NS        Open   Buy     1070.0
..         ...            ...         ...   ...        ...
637 2021-11-25  LAURUSLABS.NS       Close  Sell   677778.0
638 2021-12-02   JSWENERGY.BO        Open   Buy  1148376.0
639 2021-12-02   JSWENERGY.BO       Close  Sell  1148376.0
640 2021-12-10        SAIL.BO       Close   Buy  3082381.0
641 2021-12-13        SAIL.BO        Open  Sell  3082381.0

[642 rows x 5 columns]